
Day 23/bin/Debug/net6.0/Day 23.deps.json
Day 23/bin/Debug/net6.0/Day 23.dll
Day 23/bin/Debug/net6.0/Day 23.exe
Day 23/bin/Debug/net6.0/Day 23.pdb
Day 23/bin/Debug/net6.0/Day 23.runtimeconfig.json
Day 23/bin/Debug/net6.0/ref/Day 23.dll
Day 23/Day 23.csproj
Day 23/easy.txt
Day 23/finished.txt
Day 23/input.txt
Day 23/obj/Day 23.csproj.nuget.dgspec.json
Day 23/obj/Day 23.csproj.nuget.g.props
Day 23/obj/Day 23.csproj.nuget.g.targets
Day 23/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Day 23/obj/Debug/net6.0/apphost.exe
Day 23/obj/Debug/net6.0/Day 23.AssemblyInfo.cs
Day 23/obj/Debug/net6.0/Day 23.AssemblyInfoInputs.cache
Day 23/obj/Debug/net6.0/Day 23.assets.cache
Day 23/obj/Debug/net6.0/Day 23.csproj.AssemblyReference.cache
Day 23/obj/Debug/net6.0/Day 23.csproj.CoreCompileInputs.cache
Day 23/obj/Debug/net6.0/Day 23.csproj.FileListAbsolute.txt
Day 23/obj/Debug/net6.0/Day 23.dll
Day 23/obj/Debug/net6.0/Day 23.GeneratedMSBuildEditorConfig.editorconfig
Day 23/obj/Debug/net6.0/Day 23.genruntimeconfig.cache
Day 23/obj/Debug/net6.0/Day 23.GlobalUsings.g.cs
Day 23/obj/Debug/net6.0/Day 23.pdb
Day 23/obj/Debug/net6.0/ref/Day 23.dll
Day 23/obj/project.assets.json
Day 23/obj/project.nuget.cache
Day 23/Program.cs
C/Day 1/input.txt
C/Day 1/test.c
C/Day 1/test.exe
Day 14/obj/Debug/net6.0/Day 14.assets.cache
Day 14/obj/Debug/net6.0/Day 14.csproj.AssemblyReference.cache
Day 14/obj/Debug/net6.0/Day 14.GeneratedMSBuildEditorConfig.editorconfig
Day 20/obj/Debug/net6.0/Day 20.assets.cache
Day 20/obj/Debug/net6.0/Day 20.csproj.AssemblyReference.cache
Day 20/obj/Debug/net6.0/Day 20.GeneratedMSBuildEditorConfig.editorconfig
Day 20/Program.cs
Day 6/obj/Debug/net6.0/Day 6.assets.cache
Day 6/obj/Debug/net6.0/Day 6.csproj.AssemblyReference.cache
Day 6/obj/Debug/net6.0/Day 6.GeneratedMSBuildEditorConfig.editorconfig
